Micro_Ultrasound_Prostate_Segmentation_Dataset.zip
dataset/Micro_Ultrasound_Prostate_Segmentation_Dataset/test/
dataset/Micro_Ultrasound_Prostate_Segmentation_Dataset/train/

## 数据集划分
*.npy
models/best_microsegnet_model.pth
*.pyc
mission.md
mission.pdf
image/mission/1752340988480.png
image/mission/1752340995245.png
image/mission/1752341002204.png
image/mission/1752341009001.png
image/mission/1752341018972.png
image/mission/1752341025486.png
image/mission/1752341031994.png
image/mission/1752341038840.png
image/mission/1752341045565.png
image/mission/1752341051712.png
image/mission/1752341059068.png
image/mission/1752341066562.png
image/mission/1752341087325.png
image/mission/1752341093713.png
image/mission/1752341100597.png
image/mission/1752341108778.png
image/mission/1752341120081.png
image/mission/1752341125856.png
image/mission/1752341131252.png
image/mission/1752341140387.png
image/mission/1752341147738.png
image/mission/1752341156451.png
image/mission/1752341165072.png
models/attention/best_microsegnet_attention_model.pth
models/transunet/best_transunet_model.pth
models/unet/best_unet_model.pth
test1.py
models/mamba_unet_model.pth
image.png
GEMINI_HANDOVER_SUMMARY.md
models/hm_segnet_model.pth
models/transunet/best_transunet_model.pth.old
models/base/best_base_model.pth
models_temp/attention/best_attention_model.pth
models_temp/unet/best_unet_model.pth
models_temp/base/best_base_model.pth
models/unet/best_unet_model.pth.old
models/attention/best_attention_model.pth
models/attention/best_microsegnet_attention_model.pth.old
output/attention_training_history.png
output/comparison_grid_patient_001_slice_004.png
output/comparison_grid_patient_001_slice_024.png
output/MicroSegNet_training_history.png
output/segmentation_comparison.png
output/transunet_training_history.png
output/unet_training_history.png
evaluation_results.csv
models/attention/training_log.csv
models/base/training_log.csv
models/transunet/training_log.csv
models/transunet/training_log1.csv
models/unet/training_log.csv
output/attention_training_history.png
output/MicroSegNet_training_history.png
output/unet_training_history.png
output/attention_training_history.png
output/MicroSegNet_training_history.png
output/unet_training_history.png
output/attention_training_history.png
output/MicroSegNet_training_history.png
output/unet_training_history.png
error.md
output/attention_training_history.png
